@import "menu";
body {
  background-color: rgb(135, 122, 209);
}

@mixin fonStyle {
  color: white;
  background-color: rgb(116, 116, 116);
  text-transform: uppercase;
}
h1 {
  font-size: 40px;
  @include fonStyle();
}
p {
  @include fonStyle();
}
